*.csv
*.pyc
*.DS_Store
*.gz
*.egg-info
*openmdao_log.txt
*~

src/CADRE/test/check_units_desc.py
generated_images/
repo_lock/
devenv/
build/
dist/
parts/
eggs/
develop-eggs/
host_results/
sphinx_build/
.coverage
openmdao_log.txt
build.out
